:root{
    --light-red: #ff8889ff;
    --isabelline: #f9f3edff;
    --melon: #fcbebbff;
    --thistle: #bdaec2ff;
    --vista-blue: #7e9dc9ff;
    --vermilion: #e93b35ff;
}

body {
    background-color: var(--light-red);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .container {
    max-width: 600px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--light-red);
    border-radius: 4px;
    background-color: var(--isabelline);
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: var(--vermilion);
    color: var(--isabelline);
    padding: 12px 20px;
    margin-top: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: var(--vermilion);
    transform: scale(1.15);
  }
  
  h1 {
    text-align: center;
  }
  
  /* ---------------------------- */
  